{% extends './base.html' %}
{% block header_text %}Start a new To-Do list{% endblock %}


{% block table %}
<h2>or check existing list</h2>
{% for item in lists %}
<ul>
<ol><a href="/lists/{{ item.id }}">{{ item.id }}</a></ol>
</ul>


{% endfor %} 
{% endblock %}


{% block form_action %}/lists/new{% endblock %}